.nav-container {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: center no-repeat url('../../../assets/paper.png');
  background-size: cover;

  .nav-item {
    font-size: 12px;
    height: 50%;
    border-radius: 16px 16px 0 0;
    border-bottom: 2px solid rgba(255, 0, 0, 0.32);

    &.active-item {
      background-color: rgb(196, 210, 255);
      border-bottom: 2px solid rgb(255, 8, 0);
    }

    &:hover {
      height: 65%;
    }
  }
}
