<div class="nav-container">
  <ul class="vav-list">
    <li class="nav-item" routerLink="/home" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Home</a></li>
    <li class="nav-item" routerLink="/companies" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Companies</a></li>
    <li class="nav-item" routerLink="/works" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Works</a></li>
    <li class="nav-item" routerLink="/uses" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Uses</a></li>
  </ul>
</div>
