<div class="nav-block">
  <div class="block-description">
    <h2>Med service of the dream!</h2>
  </div>
  <div class="nav-container">
    <button class="nav-item" mat-raised-button routerLink="/home" routerLinkActive="active-item" ariaCurrentWhenActive="page">
      Home
    </button>
    <button class="nav-item" mat-raised-button routerLink="/clients" routerLinkActive="active-item" ariaCurrentWhenActive="page">
      Clients
    </button>
    <button class="nav-item" mat-raised-button routerLink="/doctors" routerLinkActive="active-item" ariaCurrentWhenActive="page">
      Doctors
    </button>
    <button class="nav-item" mat-raised-button routerLink="/equipment" routerLinkActive="active-item" ariaCurrentWhenActive="page">
      Equipment
    </button>
  </div>
</div>

