<div class="nav-container">
  <!-- <ul class="nav-list">
    <li class="nav-item" routerLink="/home" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Home</a></li>
    <li class="nav-item" routerLink="/companies" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Companies</a></li>
    <li class="nav-item" routerLink="/works" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Works</a></li>
    <li class="nav-item" routerLink="/uses" routerLinkActive="active-item" ariaCurrentWhenActive="page"><a>Uses</a></li>
  </ul> -->
  <button class="nav-item" mat-raised-button routerLink="/home" routerLinkActive="active-item" ariaCurrentWhenActive="page">
    Home
  </button>
  <button class="nav-item" mat-raised-button routerLink="/companies" routerLinkActive="active-item" ariaCurrentWhenActive="page">
    Companies
  </button>
  <button class="nav-item" mat-raised-button routerLink="/works" routerLinkActive="active-item" ariaCurrentWhenActive="page">
    Works
  </button>
  <button class="nav-item" mat-raised-button routerLink="/uses" routerLinkActive="active-item" ariaCurrentWhenActive="page">
    Uses
  </button>
</div>
